# unit 01
----
2017-02-09

In [3]:
# sum_square

In [4]:
#sum_square -> calculate square of sum of two numbers

54 + 73

127

In [7]:
# + is addition ooperator

In [5]:
127**2

16129

In [10]:
first_num = 59
second_num = 87

**first_num** and **second_num** are called a variiable

In [11]:
square_of = (first_num + second_num) ** 2

In [13]:
print (square_of)

21316

In [14]:
# 3.14 is a float
pi = 3.14

In [16]:
area_of_circle = 2*pi*(3**2)

In [17]:
print(area_of_circle)

56.52

Python acutomatically converts **integers** (like *2*  and *3* above) to **float** ( like *3.14*)

Such conversions are called type conversion ( or type casting )

In [18]:
name = 'Hary potter'

In [20]:
address ="London"

In [26]:
name + address

'Hary potterLondon'

In [34]:
name * address

TypeError: can't multiply sequence by non-int of type 'str'

adding two strings together is called Concatenation

In [24]:
name * 4

'Hary potterHary potterHary potterHary potter'

Incase of string * is called Repitition operator

In [25]:
name * 2.5

TypeError: can't multiply sequence by non-int of type 'float'

In [35]:
78-85

-7

In [36]:
30-12.5

17.5

In [37]:
# Division 
2/3

0.6666666666666666

. Real Divion

In [39]:
2 // 3

0

. Integer Division

In [40]:
2.0//3

0.0

In [41]:
float(2)

2.0

. Explicit converssion

In [42]:
int (3.9)

3

In [43]:
str(2)

'2'

Remainder Opeator

In [45]:
8%3

2

- Addition
- Substraction
- Division
  -Float
  -Interger
- Remainder
- Power